@using System.Collections
@using LibraryApp.BookService

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @using (Html.BeginForm())
    {
        <input type="text" name="bookId"/>
        <input type="submit" name="myAction" value="Borrow" />
        <input type="submit" name="myAction" value="Return" />
        <input type="submit" name="myAction" value="Renew"/>
        
    }
    <p>Status: @ViewBag.actionStatus</p>

    @{
        IEnumerable<Book> books = (IEnumerable<Book>) ViewBag.books;
    }

    <table>
        @foreach(var book in books) {
            <tr>
                <td>
                    @book.BookId
                </td>
                <td>
                    @book.Status
                </td>
            </tr>
        }
    </table>



</div>